<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <h2>Your text:</h2>
    <p><%= @piglatinized_text %></p>
   </body>
</html>